.navigation {
    @include center;
    justify-content: space-between;
    @include headerFooterMargin;
    
    &__options {
        @include center;
        gap: 3vw;
    
        a {
            li {
                font-size: 16px;
                font-weight: 300;
                transition: ease-out .3s;
    
                &:hover {
                    font-weight: 500;
                    padding-bottom: 3px;
                    padding-left: 5px;
                    margin-top: 8px;
                    border-bottom: 2px solid $coffe-color-light;
                    transition: ease-in .3s;
                }
            }
        }
    
        button {
            @include darkButton;
        }
    }
}