.footer-container {
    @include center;
    justify-content: space-between;
    align-items: flex-start;
    @include headerFooterMargin;
    gap: 15px;
    @include mobileDrop;
        @media (max-width: 768px) {
            z-index: -1;
            position: relative;
        }

    &__main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__social {
            display: flex;
            gap: 10px;
        }
    }

    &__opening {
        h2 {
            @include titleSection;
            font-size: 18px;
        }

        span {
            @include footerItems;
        }
    }

    &__contact {
        white-space: nowrap;
        h2 {
            @include titleSection;
            font-size: 18px;

        }

        address {
            @include footerItems;
        }
    }

    &__subscribe {
        white-space: nowrap;
        h2 {
            @include titleSection;
            font-size: 18px;
        }
        input {
            @include softInput;
            border: 1px solid $default-text;
            border-radius: 30px;
        }
    }
    
}